.hamburger-wrapper {

    position: absolute;
    left: 0;
    width: 4.5em;
    height: 4.5em;
    background-color: #0F434F;
    cursor: pointer;

.hamburger-menu {

    position: relative;
    width: 1.5em;
    height: 1.5em;
    margin-top: 16px;
    margin-left: 16px;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: white;
        opacity: 1;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    &.open span {
        background: white;
    }

    & span:nth-child(1) {
        top: 11px;
        right: -8px;
    }
    & span:nth-child(2) {
        top: calc(0.75em - -7px);
        right: -8px;
    }
    & span:nth-child(3) {
        bottom: -6px;
        left: 8px;
    }

    &.open span:nth-child(1) {
        top: 18px;
        left: 8px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &.open span:nth-child(2) {
        right: 100%;
        opacity: 0;
    }
    &.open span:nth-child(3) {
        bottom: 3px;
        left: 8px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
}

.fadeOut {
	-webkit-animation: fadeOut .5s forwards;
	-moz-animation: fadeOut .5s forwards;
    animation: fadeOut .5s forwards;
}

.fadeIn {
	-webkit-animation: fadeIn .5s forwards;
	-moz-animation: fadeIn .5s forwards;
    animation: fadeIn .5s forwards;
}

.closeModal {
    -webkit-animation: closeMenu .5s forwards;
	-moz-animation: closeMenu .5s forwards;
    animation: closeMenu .5s forwards;
}

.openModal {
    -webkit-animation: openMenu .5s forwards;
	-moz-animation: openMenu .5s forwards;
    animation: openMenu .5s forwards;
}

@-webkit-keyframes fadeIn {
	0% {
		left: 16rem;
	}
	100% {
		left: 0;
	}
}

@-moz-keyframes fadeIn {
	0% {
		left: 16rem;
	}
	100% {
		left: 0;
	}
}

@keyframes fadeIn {
	0% {
		left: 16rem;
	}
	100% {
		left: 0;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		left: 0;
	}
	100% {
		left: 16rem;
	}
}

@-moz-keyframes fadeOut {
	0% {
		left: 0;
	}
	100% {
		left: 16rem;
	}
}

@keyframes fadeOut {
	0% {
		left: 0;
	}
	100% {
		left: 16rem;
	}
}

/*  */

@-webkit-keyframes closeMenu {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -16rem;
	}
}

@-moz-keyframes closeMenu {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -16rem;
	}
}

@keyframes closeMenu {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -16rem;
	}
}

/*  */

@-webkit-keyframes openMenu {
	0% {
		margin-left: -16rem;
	}
	100% {
		margin-left: 0;
	}
}

@-moz-keyframes openMenu {
	0% {
		margin-left: -16rem;
	}
	100% {
		margin-left: 0;
	}
}

@keyframes openMenu {
	0% {
		margin-left: -16rem;
	}
	100% {
		margin-left: 0;
	}
}
