/* MENU ANIMATION */

.closeMenu {
    -webkit-animation: close .5s forwards;
	-moz-animation: close .5s forwards;
    animation: close .5s forwards;
}

.openMenu {
    -webkit-animation: open .5s forwards;
	-moz-animation: open .5s forwards;
    animation: open .5s forwards;
}

/* CLOSE */

@-webkit-keyframes close {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@-moz-keyframes close {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes close {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

/* OPEN */

@-webkit-keyframes open {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@-moz-keyframes open {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes open {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}