.row > div, .head > div {
  text-align: center;
  flex-direction: row;
  height: 4.5rem;
}

.head > div {
  color: white;
}

.row .item > div{
  word-break: break-all;
  //-webkit-transition-duration: 600ms;
  //transition-duration: 600ms;
}

.row .item:nth-child(odd) > div {
  background-color: white;
  //transform: translate(100%);
  //-webkit-transform: translate(100%);
}

.row .item:nth-child(even) > div {
  //transform: translate(-100%);
  //-webkit-transform: translate(-100%);
  background-color: lightgrey;
}

.timer {
    background-color: red;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 99px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15rem;
    right: 0;
    margin: auto;
    animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}