.row > div, .head > div {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 5rem;
}

.head > div {
  color: white;
}

.row .item > div{
  //-webkit-transition-duration: 600ms;
  //transition-duration: 600ms;
}

.row .item:nth-child(odd) > div {
  background-color: white;
  //transform: translate(100%);
  //-webkit-transform: translate(100%);
}

.row .item:nth-child(even) > div {
  //transform: translate(-100%);
  //-webkit-transform: translate(-100%);
  background-color: lightgrey;
}